# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
config.py

# Virtual environments
venv/
env/
.venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Compiled files
*.so
*.egg
*.egg-info/
dist/
build/
